body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#questionnaire {
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: center;
    margin: 20px;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    font-size: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000000;
}

label {
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
    margin: 0 20px;
    font-size: 18px;
}



#results {
    background-color: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: center;
    color: #ffffff;
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

#output-message {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    color: #ff6f61;
}
.button{
    border-radius: 30px;
    height: 40px;
    width: 120px;
    background-color: black;
}

.new{
    color: white;
}